<div class="container mt-4">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/home">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Productos</li>
        </ol>
    </nav>
    <h2>Gestión de Productos</h2>
    <p>A continuación se muestra la lista de productos registrados.</p>

    <!-- Botón para agregar un nuevo producto -->
    <div class="mb-3">
        <button class="btn btn-primary" (click)="navigateTo('producto-form/0')">
            <i class="bi bi-plus-circle"></i> Agregar Producto
        </button>
    </div>

    <!-- Tabla para listar los productos -->
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead class="table-dark">
                <tr >
                    <th scope="col">ID</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Categoría</th>
                    <th scope="col">Stock</th>
                    <th scope="col">Precio Compra</th>
                    <th scope="col">Precio Venta</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <!-- Fila de ejemplo 1: Producto Activo -->
                <tr *ngFor="let producto of productos">
                    <th scope="row">{{producto.id}}</th>
                    <td>{{producto.nombre}}</td>
                    <td>{{producto.categoria}}</td>
                    <td>{{producto.stock}}</td>
                    <td>{{producto.preciocompra | currency}}</td>
                    <td>{{producto.precioventa | currency}}</td>
                    <td><span class="badge bg-success">{{producto.estado}}</span></td>
                    <td>
                        <button class="btn btn-warning btn-sm" title="Editar"
                            (click)="navigateTo('producto-form/' + producto.id)">
                            <i class="bi bi-pencil-square" type="button"></i>
                        </button>
                        <button class="btn btn-danger btn-sm" title="Eliminar"
                            (click)="deleteProducto(producto.id)">
                            <i class="bi bi-trash"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
